a {
  text-decoration: none;
  color: white;
}

.div__contact {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 4%;
}

.div__contact--form {
  display: flex;
  flex-direction: column;
  text-align: center;
}